<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <title>rslv</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script type="module" src="https://unpkg.com/gh-corner-wc/gh-corner.js?module">
    </script>
</head>
<body>
<gh-corner user="datadavev" repo="fastapi_example_project" position="right"></gh-corner>
<header>
    <p>Note: This is an example service. Doesn't do much except be an example.</p>
</header>
<main>
    <h1>egservice - Example of a FastAPI service</h1>
    <content>
    <p>This is just an example service.</p>
    </content>
</main>
<footer></footer>
</body>
